doctype HTML
html
	head
		meta(charset="utf-8")
		title 测试结果集
		link(rel="stylesheet" type="text/css" href="css/list.css")
	body
		table(cellpadding="0" cellspacing="0")
			tr(class="title")
				td(align="center",colspan=5) TEST RESULTS
			tr(class="header")
				td#all All
				td Tester
				td Device
				td System
				td Time
			-for(var i=0,l=list.length;i<l;i++)
				tr(class="item")
					td
						div(class="checkbox" data-id= list[i].id)
					td= list[i].tester
					td= list[i].device
					td= list[i].system
					td= list[i].time.toLocaleDateString()
			tr(class="footer")
				td(align="right",colspan=5)
					a(href="javascript:;", id="reportBtn") Merge And Report
		script(src="js/zepto.min.js")
		script(src="js/list.js")

